<h1>New Recipe Form</h1>
<form action='/recipes' method='POST'>
<label>Name</label>
<input type='text' name='name'>
<label>Ingredients</label>
<input type='textarea' name='ingredients'>
<label>Cook Time</label>
<input type='text' name='cook_time'>
<input type='submit' name='submit'>
</form>
