<h1>Recipe</h1>
<br>
<h3>Recipe Name: <%= @recipe.name %></h3>
<br>
<p>Recipe Ingredients: <%= @recipe.ingredients %></p>
<br>
<p>Recipe Cook Time <%= @recipe.cook_time %></p>
<br>

 <form method="POST" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 